/* Estilos básicos para el CV */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #DCD6F7;
    padding: 20px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

main {
    margin: 20px;
}

.section {
    margin-bottom: 20px;
}

footer {
    background-color: #424874;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
